
/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.series {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.serie-itm {}
.serie-ttl {}
.serie-img {
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-btn {
    padding: 10px;
    margin: 5px;
    border: solid 1px black;
}